/*main page*/

body {
    display: flex;
    /*background-color: #F3E3CA;*/
    flex-direction: column;
    justify-content: space-around;
    margin: 2%;
    border-radius: 30px;
    background: linear-gradient(120deg,#18382C,#F3E3CA);
}

.top-menu-bar {
    flex: 1;
    display: flex;
    flex-direction: row;
    background-color: #648C87;
    align-items: center;
    justify-content: space-evenly;
    height: 120px;
    border-radius: inherit;
}

.circle {
    background-color: #3A651F;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.rectangle {
    width: 90%;
    height: 40px;
    background-color: #3A651F;
    position: relative;
    left: calc(-70px/2); /*width of circle/2 -> radius of circle + margin of env-sus-bar*/
    border-radius: 10px;
}

.env-sus-bar {
    display: flex;
    width: 40%;
    height: inherit;
    flex-direction: row;
    float: left;
    align-items: center; 
}

.btn {
    height: inherit;
    float: left;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.fa-solid {
    font-size: 70px;
    color: #F3E3CA;
}

.username {
    display: flex;
    font-size: 30px;
}

.account {
    float: left;
}

.main-menu {
    flex: 2;
    height: 650px;
    padding-top: 50px;
    border-radius: inherit;
}

.city-layout {
    background-color: #D9D9D9;
    width: 70%;
    height: inherit;
    float: left;
    /*border-radius: inherit;*/
    display: flex; 
    flex-wrap: wrap;   
}

.console {
    background-color: #18382C;
    width: 25%;
    height: inherit;
    float: right;
    border-radius: inherit;
}

/*playfield grid. note: the height & width r hardcoded to make sure it looks nice lmao*/
.city-layout div {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #18382C;

    height: 300px;
    width: 334px;
    padding: 1%;
    border: 1px solid white;
    /*border-radius: 5px;*/
}